
  <% results = Geocoder.search(request.remote_ip).first %>
  
  
  <ul>
    <li>IP Address: <%= results.ip %>
    <% if results.city || results.region || results.country %>
      <li><%= results.city + ' ' + results.region + ' ' + results.country %></li>
    <% end %>
    <li>Browser: <%= session.browser_name %>
        Platform: <%= session.platform_name + session.platform_version %></li>
    <li>Logged in at: <%= time_tag(session.created_at) + ' UTC' %></li>

    <%= button_to 'Logout',
        sessions_url,
        method: :delete, 
        params: { remote_logout: session.session_token } %>
  </ul>
