<h3>New Cat Rental Request</h3>

<form action='<%= cat_rental_requests_path %>' method='POST'>
  <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>

  <label for='cat'>Choose a cat: </label>
  <select id='cat' name='cat_rental_request[cat_id]'>
    <option disabled <%= 'selected' if @cat_rental_request.cat_id.nil? %>>--Select Cat--</option>
    <% Cat.all.each do |katze| %>
      <option value='<%= katze.id %>'
        <%= 'selected' if @cat_rental_request.cat_id == katze.id %>>
        <%= katze.name %>
      </option>
    <% end %>
  </select>

  <br>
  <br>

  <label for='start_date'>Start Date: </label>
  <input id='start_date'
         name='cat_rental_request[start_date]'
         type='date'
         value='<%= @cat_rental_request.start_date %>'>

  <br>
  <br>

  <label for='end_date'>End Date: </label>
  <input id='end_date'
         name='cat_rental_request[end_date]'
         type='date'
         value='<%= @cat_rental_request.end_date %>'>

  <br>
  <br>

  <input type='submit' value='Submit Request'>

</form>