<table>
    <thead>
        <tr>
            <th colspan="2"><%= @cat.name %></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Age</td>
            <td><%= @cat.age %></td>
        </tr>
        <tr>
            <td>Color</td>
            <td><%= @cat.color %></td>
        </tr>
        <tr>
            <td>Sex</td>
            <td><%= @cat.sex %></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><%= @cat.description %></td>
        </tr>
        <tr>
            <td>Owner</td>
            <td><%= @cat.owner_name %></td>
        </tr>
    </tbody>
</table>

<% if @cat.owner == current_user %>
    <br>
    <form method='GET' action='<%= edit_cat_url(@cat) %>' style='display:inline;'>
        <button type='submit'>Edit Cat</button>
    </form>
    <form method='POST' action='<%= cat_url(@cat) %>' style='display:inline;'>
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
        <input type='hidden' name='_method' value='<%= 'DELETE' %>'>
        <button type='submit'>Delete Cat</button>
    </form>

<% end %>

<br>
<h5>Rental Requests:</h5>
<ul>
  <%= render @cat.rental_requests.order(:start_date).includes(:requester) %>
</ul>