<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>

    <% if current_user %>
      <%= current_user.username %>
      <form method='POST' action='<%= sessions_url %>' style='display: inline;'>
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
        <input type='hidden' name='_method' value='<%= 'DELETE' %>'>
        <button type='submit'>Logout</button>
      </form>
    <% else %>
      <form method='GET' style='display: inline;'>
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
        <button type='submit'
          formaction='<%= new_sessions_url %>'>Login</button>
        <button type='submit'
          formaction='<%= new_user_url %>'>Create new account</button>
      </form>
    <% end %>
      
  </header>

  <body>
    <%= yield %>
  </body>
</html>
